.page-header-extend {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}
.flex-align-center {
    display: flex; 
    align-items: center;
}

.page-header-title {
    font-size: 40px; 
    font-weight: bold;
}

.page-header-logo {
    height: 100px; 
    margin-left:10px
}

.lg-group {
    display: flex;
}

.lg-checkBox {
    align-self: center;
    padding: 0px 20px 0px 10px;
}

.bold-text {
    font-weight: bold;
}

.mb-10 {
    margin-bottom: 10px;
}